# Maven
target/

.gitignore

# Eclipse / IDE files
.settings/
.classpath
.project
.factorypath

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.swp

.env



target/
target/
target/
src/main/resources/application.properties
target/
